Repository fullstacktf/recomendador, changes with the owners that .github/CODEOWNERS names for each.
All owners: @Aletf7, @japmelian, @Meldavmar, @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

.github/CODEOWNERS:

* @Aletf7 @japmelian @Meldavmar
*.css @ManzDev
*.tsx @raulanatol
*.jsx @raulanatol
*.js @raulanatol @ManzDev
*.vue @ManzDev
*test* @raulanatol @DanielRamosAcosta @yodralopez

install tailwind and postcss
  jest.config.js
  package-lock.json
  package.json
  postcss.config.js
  src/App.vue
  src/components/account/__stories__/Account.stories.js
  src/components/counter/Counter.vue
  src/components/counter/__stories__/Counter.stories.js
  src/components/counter/__tests__/Counter.test.js
  src/main.js
  src/stories/Button.stories.js
  src/stories/Button.vue
  src/stories/Header.stories.js
  src/stories/Header.vue
  src/stories/Page.stories.js
  src/stories/Page.vue
  tailwind.config.js
  testSetupFile.js
  yarn.lock
Owners: @raulanatol, @ManzDev, @Aletf7, @japmelian, @Meldavmar, @DanielRamosAcosta, @yodralopez

change to side component
  src/App.vue
  src/assets/Disney+_logo.svg
  src/assets/Netflix_logo.svg
  src/components/side/Side.vue
  src/components/side/__stories__/Side.stories.js
  src/components/side/__test__/Side.test.js
Owners: @ManzDev, @Aletf7, @japmelian, @Meldavmar, @raulanatol, @DanielRamosAcosta, @yodralopez

Add new components: header,signup,categories,slider,footer
  App.vue
  src/components/categories/Categories.vue
  src/components/categories/__tests__/categories.test.js
  src/components/footer/Footer.vue
  src/components/footer/__tests__/Footer.test.js
  src/components/header/Header.vue
  src/components/header/__tests__/Header.test.js
  src/components/side/SideApp.vue
  src/components/signup/Signup.vue
  src/components/signup/__tests__/Signup.test.js
  src/components/slider/Slider.vue
  src/components/slider/__tests__/Slider.test.js
Owners: @ManzDev, @raulanatol, @DanielRamosAcosta, @yodralopez

change config to plugin and component categories
  App.vue
  package-lock.json
  package.json
  src/App.vue
  src/components/categories/Categories.vue
  src/components/slider/Slider.vue
Owners: @ManzDev, @Aletf7, @japmelian, @Meldavmar

CI for frontend app
  .github/workflows/build.yml
  package-lock.json
  package.json
Owners: @Aletf7, @japmelian, @Meldavmar

Views and components routing
  mockups/mockupMobile/README.md
  mockups/mockupMobile/categories.jpg
  mockups/mockupMobile/details.jpg
  mockups/mockupMobile/index.jpg
  mockups/mockupMobile/list.jpg
  mockups/mockupMobile/login.jpg
  mockups/mockupMobile/popular.jpg
  mockups/mockupMobile/signup.jpg
  mockups/mockupMobile/user.jpg
  package-lock.json
  src/App.vue
  src/components/footer/Footer.vue
  src/components/header/Header.vue
  src/components/side/SideApp.vue
  src/components/slider/NormalApp.vue
  src/views/Home.vue
Owners: @Aletf7, @japmelian, @Meldavmar, @ManzDev

Change links mockups and add Prototype
  README.md
Owners: @Aletf7, @japmelian, @Meldavmar

add README
  README.md
Owners: @Aletf7, @japmelian, @Meldavmar

Change views, componentes and routers and add view and assets
  package-lock.json
  package.json
  src/App.vue
  src/assets/Amazon.png
  src/assets/Keanu.png
  src/assets/LoginBackground.jpeg
  src/assets/amazon-prime-video.png
  src/assets/avengers_endgame.jpg
  src/assets/hulu-logo.png
  src/assets/logo copy.png
  src/assets/logo.png
  src/assets/slide1.jpg
  src/assets/slide2.jpg
  src/assets/slide3.jpg
  src/assets/vimeo-logo.png
  src/components/categories/Categories.vue
  src/components/detail/Detail.vue
  src/components/footer/Footer.vue
  src/components/header/Header.vue
  src/components/side/Side.vue
  src/router.js
  src/views/Platforms.vue
Owners: @Aletf7, @japmelian, @Meldavmar, @ManzDev, @raulanatol

Add and change platforms view and nav component
  src/components/categories/CategoriesPlatforms.vue
  src/views/Platforms.vue
Owners: @ManzDev

linter
  package-lock.json
  src/App.vue
  src/components/categories/CategoriesQuizz.vue
  src/components/header/Header.vue
  src/components/header/HeaderLogin.vue
  src/components/header/HeaderSignup.vue
  src/components/login/Login.vue
  src/components/signup/Signup.vue
  src/router.js
  src/views/About.vue
  src/views/AboutDM.vue
  src/views/AboutJM.vue
  src/views/AboutTS.vue
  src/views/Home.vue
  src/views/Index.vue
  src/views/Platforms.vue
  src/views/Profile.vue
  src/views/Quizz.vue
  src/views/Signup.vue
Owners: @Aletf7, @japmelian, @Meldavmar, @ManzDev, @raulanatol

Devoleped branch
  package-lock.json
Owners: @Aletf7, @japmelian, @Meldavmar

calling to api
  package-lock.json
  package.json
  src/views/AboutTS.vue
  src/views/Quizz.vue
Owners: @Aletf7, @japmelian, @Meldavmar, @ManzDev

Connection with API
  src/views/AboutDM.vue
  src/views/AboutJM.vue
  src/views/AboutMK.vue
  src/views/AboutPH.vue
  src/views/AboutSV.vue
  src/views/AboutTS.vue
Owners: @ManzDev

Tailwind changes
  src/components/categories/CategoriesQuizz.vue
  src/components/signup/Signup.vue
  src/router.js
  src/views/AboutTS.vue
  src/views/Home.vue
Owners: @ManzDev, @raulanatol

funtion in signup
  .eslintrc.js
  src/components/signup/Signup.vue
  src/views/Home.vue
  src/views/Index.vue
  src/views/Profile.vue
Owners: @raulanatol, @ManzDev

fix error
  src/components/signup/Signup.vue
Owners: @ManzDev

fix docker
  Dockerfile
Owners: @Aletf7, @japmelian, @Meldavmar
